<main>
  <div class="title">
    Earth
    <span class="bar">|</span>
    <span class="themed">መሬት</span>
  </div>

  <div class="banner">
    <div class="banner-img">
      <img src="./assets/images/earth.jpg" alt="image of earth">
    </div>
  </div>

  <div class="card intro">
    <p>Earth is the third planet from the Sun and the only known astronomical object to harbor life.</p>
    </div>

  <div class="card">
    <div class="card-header">
      <div class="header">Stats</div>
      <i class="icon fas fa-chart-bar"></i>
    </div>
    <div class="content">
      <p>
        <span class="themed">Diameter:</span>
        12,742 km
      </p>
      <p>
        <span class="themed">Mass:</span>
        5.972 × 10^24 kg
      </p>
      <p>
        <span class="themed">Orbital period:</span>
        365.24 days
      </p>
      <p>
        <span class="themed">Distance from sun:</span>
        149.6 million km
      </p>
      </div>
  </div>
  <div class="card">
    <div class="card-header">
      <div class="header">Features</div>
      <i class="icon fas fa-mountain"></i>
    </div>
    <div class="content">
      <p>Earth's atmosphere is composed primarily of nitrogen and oxygen.</p>
      <p>It has liquid water on its surface, which is essential for life as we know it.</p>
      </div>
  </div>
  <div class="card">
    <div class="card-header">
      <div class="header">Moons</div>
      <i class="icon fas fa-moon"></i>
    </div>
    <div class="content">
      <p>Earth has one natural satellite, known as the Moon.</p>
      <div>
        <p>
          <span class="themed">Moon:</span>
          The Moon is the fifth largest satellite in the Solar System and is thought to have formed around 4.5 billion years ago.
        </p>
        </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <div class="header">Explorations</div>
      <i class="icon fas fa-satellite"></i>
    </div>
    <div class="content">
      <p>Earth has been extensively studied by both robotic spacecraft and humans.</p>
      <div>
        <p>
          <span class="themed">Space Probes:</span>
          Numerous space probes have been sent to study Earth's atmosphere, climate, geology, and oceans.
        </p>
        <p>
          <span class="themed">Space Stations:</span>
          Space stations like the International Space Station (ISS) provide platforms for scientific research and observations of Earth from space.
        </p>
        <p>
          <span class="themed">Satellites:</span>
          Thousands of satellites orbit Earth, providing data for weather forecasting, communications, navigation, and environmental monitoring.
        </p>
        <p>
          <span class="themed">Manned Missions:</span>
          Human missions have allowed astronauts to observe Earth from space and conduct experiments on its surface.
        </p>
        </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <div class="header">Potential for Life</div>
      <i class="icon fas fa-leaf"></i>
    </div>
    <div class="content">
      <p>Earth is the only known planet to support life.</p>
      <p>It is home to a diverse range of organisms, including plants, animals, and microorganisms.</p>
      </div>
  </div>
  <div class="card">
    <div class="card-header">
      <div class="header">Fun Facts</div>
      <i class="icon fas fa-smile"></i>
    </div>
    <div class="content">
      <p>Earth's atmosphere extends up to about 10,000 kilometers above the surface.</p>
      <p>The highest point on Earth is the summit of Mount Everest, reaching an elevation of 8,848 meters above sea level.</p>
      </div>
  </div>
  <div class="card">
    <div class="card-header">
      <div class="header">Real Photos</div>
      <i class="icon fas fa-camera-retro"></i>
    </div>
    <div class="images">
      <div class="image">
        <a href="#img-0" class="modal-link">
          <img src="./assets/images/earth.jpg">
        </a>

        <div onclick="location.hash='#/'" id="img-0" class="modal-container">
          <div class="modal-content">
            <a href="#/" class="close-button">&times;</a>
            <img src="./assets/images/earth.jpg" class="modal-image">
            <div class="modal-caption">
              <div class="modal-description">A stunning view of Earth from space.</div>
              <div class="modal-credit">&copy;NASA</div>
            </div>
          </div>
        </div>
      </div>
      <div class="image">
        <a href="#img-1" class="modal-link">
          <img src="./assets/images/earth.jpg">
        </a>

        <div onclick="location.hash='#/'" id="img-1" class="modal-container">
          <div class="modal-content">
            <a href="#/" class="close-button">&times;</a>
            <img src="./assets/images/earth.jpg" class="modal-image">
            <div class="modal-caption">
              <div class="modal-description">A stunning view of Earth from space.</div>
              <div class="modal-credit">&copy;NASA</div>
            </div>
          </div>
        </div>
      </div>
      <div class="image">
        <a href="#img-2" class="modal-link">
          <img src="./assets/images/earth.jpg">
        </a>

        <div onclick="location.hash='#/'" id="img-2" class="modal-container">
          <div class="modal-content">
            <a href="#/" class="close-button">&times;</a>
            <img src="./assets/images/earth.jpg" class="modal-image">
            <div class="modal-caption">
              <div class="modal-description">A stunning view of Earth from space.</div>
              <div class="modal-credit">&copy;NASA</div>
            </div>
          </div>
        </div>
      </div>
      <div class="image">
        <a href="#img-3" class="modal-link">
          <img src="./assets/images/earth.jpg">
        </a>

        <div onclick="location.hash='#/'" id="img-3" class="modal-container">
          <div class="modal-content">
            <a href="#/" class="close-button">&times;</a>
            <img src="./assets/images/earth.jpg" class="modal-image">
            <div class="modal-caption">
              <div class="modal-description">A stunning view of Earth from space.</div>
              <div class="modal-credit">&copy;NASA</div>
            </div>
          </div>
        </div>
      </div>
      </div>
  </div>
  <div class="card wrapup">
    <p>Earth is a unique and beautiful planet, teeming with life and worth protecting for future generations.</p>
    </div>
</main>