<main>
  <div class="title">
    Mars
    <span class="bar">|</span>
    <span class="themed">መሪህ</span>
  </div>

  <div class="banner">
    <div class="banner-img">
      <img src="./assets/images/mars.png" alt="image of mars">
    </div>
  </div>

  <div class="card intro">
    <p>Mars is the fourth planet from the Sun and the second smallest planet in the Solar System.</p>
    </div>

  <div class="card">
    <div class="card-header">
      <div class="header">Stats</div>
      <i class="icon fas fa-chart-bar"></i>
    </div>
    <div class="content">
      <p>
        <span class="themed">Diameter:</span>
        6,779 km
      </p>
      <p>
        <span class="themed">Mass:</span>
        6.39 × 10^23 kg
      </p>
      <p>
        <span class="themed">Orbital period:</span>
        687 days
      </p>
      <p>
        <span class="themed">Distance from sun:</span>
        227.9 million km
      </p>
      </div>
  </div>
  <div class="card">
    <div class="card-header">
      <div class="header">Features</div>
      <i class="icon fas fa-mountain"></i>
    </div>
    <div class="content">
      <p>Mars has a thin atmosphere primarily composed of carbon dioxide.</p>
      <p>It has distinct surface features including valleys, volcanoes, and polar ice caps.</p>
      </div>
  </div>
  <div class="card">
    <div class="card-header">
      <div class="header">Moons</div>
      <i class="icon fas fa-moon"></i>
    </div>
    <div class="content">
      <p>Mars has two natural satellites, Phobos and Deimos.</p>
      <div>
        <p>
          <span class="themed">Phobos:</span>
          Phobos is the larger and closer of Mars' moons.
        </p>
        <p>
          <span class="themed">Deimos:</span>
          Deimos is the smaller and outermost of Mars' moons.
        </p>
        </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <div class="header">Explorations</div>
      <i class="icon fas fa-satellite"></i>
    </div>
    <div class="content">
      <p>Mars has been extensively explored by both robotic spacecraft and orbiters.</p>
      <div>
        <p>
          <span class="themed">Mars Rovers:</span>
          Rovers like Spirit, Opportunity, and Curiosity have explored the Martian surface, studying its geology and searching for signs of past life.
        </p>
        <p>
          <span class="themed">Mars Orbiters:</span>
          Orbiters like Mars Reconnaissance Orbiter and MAVEN have provided detailed images and data of Mars' surface, atmosphere, and climate.
        </p>
        <p>
          <span class="themed">Future Missions:</span>
          Planned missions, including the Mars Perseverance rover and future crewed missions, aim to further explore Mars and prepare for potential human settlement.
        </p>
        </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <div class="header">Potential for Life</div>
      <i class="icon fas fa-leaf"></i>
    </div>
    <div class="content">
      <p>Mars is currently inhospitable to life as we know it, but evidence suggests it may have had conditions suitable for life in the past.</p>
      <p>Future exploration aims to search for signs of past or present life on Mars.</p>
      </div>
  </div>
  <div class="card">
    <div class="card-header">
      <div class="header">Fun Facts</div>
      <i class="icon fas fa-smile"></i>
    </div>
    <div class="content">
      <p>Mars has the tallest volcano and the largest canyon in the Solar System, Olympus Mons and Valles Marineris, respectively.</p>
      <p>Mars' surface is covered in iron oxide, giving it a reddish appearance and earning it the nickname 'the Red Planet.'</p>
      </div>
  </div>
  <div class="card">
    <div class="card-header">
      <div class="header">Real Photos</div>
      <i class="icon fas fa-camera-retro"></i>
    </div>
    <div class="images">
      <div class="image">
        <a href="#img-0" class="modal-link">
          <img src="./assets/images/mars.png">
        </a>

        <div onclick="location.hash='#/'" id="img-0" class="modal-container">
          <div class="modal-content">
            <a href="#/" class="close-button">&times;</a>
            <img src="./assets/images/mars.png" class="modal-image">
            <div class="modal-caption">
              <div class="modal-description">A stunning view of Mars captured by the Mars Reconnaissance Orbiter.</div>
              <div class="modal-credit">&copy;NASA/JPL-Caltech</div>
            </div>
          </div>
        </div>
      </div>
      <div class="image">
        <a href="#img-1" class="modal-link">
          <img src="./assets/images/mars.png">
        </a>

        <div onclick="location.hash='#/'" id="img-1" class="modal-container">
          <div class="modal-content">
            <a href="#/" class="close-button">&times;</a>
            <img src="./assets/images/mars.png" class="modal-image">
            <div class="modal-caption">
              <div class="modal-description">A stunning view of Mars captured by the Mars Reconnaissance Orbiter.</div>
              <div class="modal-credit">&copy;NASA/JPL-Caltech</div>
            </div>
          </div>
        </div>
      </div>
      <div class="image">
        <a href="#img-2" class="modal-link">
          <img src="./assets/images/mars.png">
        </a>

        <div onclick="location.hash='#/'" id="img-2" class="modal-container">
          <div class="modal-content">
            <a href="#/" class="close-button">&times;</a>
            <img src="./assets/images/mars.png" class="modal-image">
            <div class="modal-caption">
              <div class="modal-description">A stunning view of Mars captured by the Mars Reconnaissance Orbiter.</div>
              <div class="modal-credit">&copy;NASA/JPL-Caltech</div>
            </div>
          </div>
        </div>
      </div>
      <div class="image">
        <a href="#img-3" class="modal-link">
          <img src="./assets/images/mars.png">
        </a>

        <div onclick="location.hash='#/'" id="img-3" class="modal-container">
          <div class="modal-content">
            <a href="#/" class="close-button">&times;</a>
            <img src="./assets/images/mars.png" class="modal-image">
            <div class="modal-caption">
              <div class="modal-description">A stunning view of Mars captured by the Mars Reconnaissance Orbiter.</div>
              <div class="modal-credit">&copy;NASA/JPL-Caltech</div>
            </div>
          </div>
        </div>
      </div>
      </div>
  </div>
  <div class="card wrapup">
    <p>Mars is a fascinating planet with a complex geology and a history that continues to intrigue scientists and space explorers.</p>
    </div>
</main>