<main>
  <div class="title">
    Mercury
    <span class="bar">|</span>
    <span class="themed">ዐጣርድ</span>
  </div>

  <div class="banner">
    <div class="banner-img">
      <img src="./assets/images/mercury.png" alt="image of mercury">
    </div>
  </div>

  <div class="card intro">
    <p>Mercury is the smallest planet in the Solar System and the closest to the Sun.</p>
    </div>

  <div class="card">
    <div class="card-header">
      <div class="header">Stats</div>
      <i class="icon fas fa-chart-bar"></i>
    </div>
    <div class="content">
      <p>
        <span class="themed">Diameter:</span>
        4,880 km
      </p>
      <p>
        <span class="themed">Mass:</span>
        3.301 × 10^23 kg
      </p>
      <p>
        <span class="themed">Orbital period:</span>
        88 days
      </p>
      <p>
        <span class="themed">Distance from sun:</span>
        57.9 million km
      </p>
      </div>
  </div>
  <div class="card">
    <div class="card-header">
      <div class="header">Features</div>
      <i class="icon fas fa-mountain"></i>
    </div>
    <div class="content">
      <p>Mercury has a thin atmosphere composed mainly of oxygen, sodium, hydrogen, helium, and potassium.</p>
      <p>Its surface is heavily cratered and resembles Earth's moon.</p>
      </div>
  </div>
  <div class="card">
    <div class="card-header">
      <div class="header">Moons</div>
      <i class="icon fas fa-moon"></i>
    </div>
    <div class="content">
      <p>Mercury does not have any moons.</p>
      <div>
        </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <div class="header">Explorations</div>
      <i class="icon fas fa-satellite"></i>
    </div>
    <div class="content">
      <p>Mercury has been visited by spacecraft from Earth.</p>
      <div>
        <p>
          <span class="themed">Mariner 10:</span>
          Mariner 10 was the first spacecraft to visit Mercury in 1974. It provided the first close-up images of the planet.
        </p>
        <p>
          <span class="themed">MESSENGER:</span>
          MESSENGER (MErcury Surface, Space ENvironment, GEochemistry, and Ranging) was a NASA spacecraft that orbited Mercury from 2011 to 2015, providing detailed observations of its surface, magnetic field, and atmosphere.
        </p>
        </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <div class="header">Potential for Life</div>
      <i class="icon fas fa-leaf"></i>
    </div>
    <div class="content">
      <p>Mercury is too hot and lacks the necessary conditions to support life as we know it.</p>
      <p>Its surface experiences extreme temperature variations, ranging from about -180°C (-290°F) at night to 430°C (800°F) during the day.</p>
      </div>
  </div>
  <div class="card">
    <div class="card-header">
      <div class="header">Fun Facts</div>
      <i class="icon fas fa-smile"></i>
    </div>
    <div class="content">
      <p>Mercury has the shortest year of all the planets in the Solar System, completing an orbit around the Sun in just 88 Earth days.</p>
      <p>It also has the slowest rotation period, taking about 59 Earth days to rotate once on its axis.</p>
      </div>
  </div>
  <div class="card">
    <div class="card-header">
      <div class="header">Real Photos</div>
      <i class="icon fas fa-camera-retro"></i>
    </div>
    <div class="images">
      <div class="image">
        <a href="#img-0" class="modal-link">
          <img src="./assets/images/mercury.png">
        </a>

        <div onclick="location.hash='#/'" id="img-0" class="modal-container">
          <div class="modal-content">
            <a href="#/" class="close-button">&times;</a>
            <img src="./assets/images/mercury.png" class="modal-image">
            <div class="modal-caption">
              <div class="modal-description">A close-up image of Mercury's surface captured by the MESSENGER spacecraft.</div>
              <div class="modal-credit">&copy;NASA/Johns Hopkins University Applied Physics Laboratory/Carnegie Institution of Washington</div>
            </div>
          </div>
        </div>
      </div>
      <div class="image">
        <a href="#img-1" class="modal-link">
          <img src="./assets/images/mercury.png">
        </a>

        <div onclick="location.hash='#/'" id="img-1" class="modal-container">
          <div class="modal-content">
            <a href="#/" class="close-button">&times;</a>
            <img src="./assets/images/mercury.png" class="modal-image">
            <div class="modal-caption">
              <div class="modal-description">A close-up image of Mercury's surface captured by the MESSENGER spacecraft.</div>
              <div class="modal-credit">&copy;NASA/Johns Hopkins University Applied Physics Laboratory/Carnegie Institution of Washington</div>
            </div>
          </div>
        </div>
      </div>
      <div class="image">
        <a href="#img-2" class="modal-link">
          <img src="./assets/images/mercury.png">
        </a>

        <div onclick="location.hash='#/'" id="img-2" class="modal-container">
          <div class="modal-content">
            <a href="#/" class="close-button">&times;</a>
            <img src="./assets/images/mercury.png" class="modal-image">
            <div class="modal-caption">
              <div class="modal-description">A close-up image of Mercury's surface captured by the MESSENGER spacecraft.</div>
              <div class="modal-credit">&copy;NASA/Johns Hopkins University Applied Physics Laboratory/Carnegie Institution of Washington</div>
            </div>
          </div>
        </div>
      </div>
      <div class="image">
        <a href="#img-3" class="modal-link">
          <img src="./assets/images/mercury.png">
        </a>

        <div onclick="location.hash='#/'" id="img-3" class="modal-container">
          <div class="modal-content">
            <a href="#/" class="close-button">&times;</a>
            <img src="./assets/images/mercury.png" class="modal-image">
            <div class="modal-caption">
              <div class="modal-description">A close-up image of Mercury's surface captured by the MESSENGER spacecraft.</div>
              <div class="modal-credit">&copy;NASA/Johns Hopkins University Applied Physics Laboratory/Carnegie Institution of Washington</div>
            </div>
          </div>
        </div>
      </div>
      </div>
  </div>
  <div class="card wrapup">
    <p>Mercury is a small but fascinating planet with extreme conditions and a history of exploration by robotic spacecraft.</p>
    </div>
</main>