<main>
  <div class="title">
    Neptune
    <span class="bar">|</span>
    <span class="themed">ኔፕቱን</span>
  </div>

  <div class="banner">
    <div class="banner-img">
      <img src="./assets/images/neptune.png" alt="image of neptune">
    </div>
  </div>

  <div class="card intro">
    <p>Neptune is the eighth and farthest planet from the Sun in the Solar System.</p>
    </div>

  <div class="card">
    <div class="card-header">
      <div class="header">Stats</div>
      <i class="icon fas fa-chart-bar"></i>
    </div>
    <div class="content">
      <p>
        <span class="themed">Diameter:</span>
        49,244 km
      </p>
      <p>
        <span class="themed">Mass:</span>
        1.024 × 10^26 kg
      </p>
      <p>
        <span class="themed">Orbital period:</span>
        164.8 years
      </p>
      <p>
        <span class="themed">Distance from sun:</span>
        4.5 billion km
      </p>
      </div>
  </div>
  <div class="card">
    <div class="card-header">
      <div class="header">Features</div>
      <i class="icon fas fa-mountain"></i>
    </div>
    <div class="content">
      <p>Neptune is a gas giant with a thick atmosphere primarily composed of hydrogen, helium, and trace amounts of methane.</p>
      <p>It has the strongest winds in the Solar System, with speeds reaching up to 2,100 km/h (1,300 mph).</p>
      </div>
  </div>
  <div class="card">
    <div class="card-header">
      <div class="header">Moons</div>
      <i class="icon fas fa-moon"></i>
    </div>
    <div class="content">
      <p>Neptune has 14 known moons, with the largest being Triton.</p>
      <div>
        <p>
          <span class="themed">Triton:</span>
          Triton is the only large moon in the Solar System that orbits in the opposite direction of its planet's rotation.
        </p>
        <p>
          <span class="themed">Nereid:</span>
          Nereid is Neptune's third-largest moon and has a highly elliptical orbit.
        </p>
        <p>
          <span class="themed">Proteus:</span>
          Proteus is one of the largest irregularly shaped moons in the Solar System.
        </p>
        </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <div class="header">Explorations</div>
      <i class="icon fas fa-satellite"></i>
    </div>
    <div class="content">
      <p>Neptune has been visited by only one spacecraft to date.</p>
      <div>
        <p>
          <span class="themed">Voyager 2:</span>
          Voyager 2 passed by Neptune in 1989, providing the first close-up images and data of the planet and its moons.
        </p>
        </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <div class="header">Potential for Life</div>
      <i class="icon fas fa-leaf"></i>
    </div>
    <div class="content">
      <p>Neptune is a gas giant and lacks a solid surface, making it inhospitable to life as we know it.</p>
      <p>Its extreme cold temperatures and high atmospheric pressure would pose significant challenges for any potential life forms.</p>
      </div>
  </div>
  <div class="card">
    <div class="card-header">
      <div class="header">Fun Facts</div>
      <i class="icon fas fa-smile"></i>
    </div>
    <div class="content">
      <p>Neptune was the first planet to be discovered through mathematical predictions rather than direct observation.</p>
      <p>It has a faint ring system and a large dark spot in its atmosphere similar to Jupiter's Great Red Spot.</p>
      </div>
  </div>
  <div class="card">
    <div class="card-header">
      <div class="header">Real Photos</div>
      <i class="icon fas fa-camera-retro"></i>
    </div>
    <div class="images">
      <div class="image">
        <a href="#img-0" class="modal-link">
          <img src="./assets/images/neptune.png">
        </a>

        <div onclick="location.hash='#/'" id="img-0" class="modal-container">
          <div class="modal-content">
            <a href="#/" class="close-button">&times;</a>
            <img src="./assets/images/neptune.png" class="modal-image">
            <div class="modal-caption">
              <div class="modal-description">A stunning image of Neptune captured by the Voyager 2 spacecraft during its flyby in 1989.</div>
              <div class="modal-credit">&copy;NASA/JPL</div>
            </div>
          </div>
        </div>
      </div>
      <div class="image">
        <a href="#img-1" class="modal-link">
          <img src="./assets/images/neptune.png">
        </a>

        <div onclick="location.hash='#/'" id="img-1" class="modal-container">
          <div class="modal-content">
            <a href="#/" class="close-button">&times;</a>
            <img src="./assets/images/neptune.png" class="modal-image">
            <div class="modal-caption">
              <div class="modal-description">A stunning image of Neptune captured by the Voyager 2 spacecraft during its flyby in 1989.</div>
              <div class="modal-credit">&copy;NASA/JPL</div>
            </div>
          </div>
        </div>
      </div>
      <div class="image">
        <a href="#img-2" class="modal-link">
          <img src="./assets/images/neptune.png">
        </a>

        <div onclick="location.hash='#/'" id="img-2" class="modal-container">
          <div class="modal-content">
            <a href="#/" class="close-button">&times;</a>
            <img src="./assets/images/neptune.png" class="modal-image">
            <div class="modal-caption">
              <div class="modal-description">A stunning image of Neptune captured by the Voyager 2 spacecraft during its flyby in 1989.</div>
              <div class="modal-credit">&copy;NASA/JPL</div>
            </div>
          </div>
        </div>
      </div>
      <div class="image">
        <a href="#img-3" class="modal-link">
          <img src="./assets/images/neptune.png">
        </a>

        <div onclick="location.hash='#/'" id="img-3" class="modal-container">
          <div class="modal-content">
            <a href="#/" class="close-button">&times;</a>
            <img src="./assets/images/neptune.png" class="modal-image">
            <div class="modal-caption">
              <div class="modal-description">A stunning image of Neptune captured by the Voyager 2 spacecraft during its flyby in 1989.</div>
              <div class="modal-credit">&copy;NASA/JPL</div>
            </div>
          </div>
        </div>
      </div>
      </div>
  </div>
  <div class="card wrapup">
    <p>Neptune is a distant and mysterious planet that continues to fascinate astronomers and space enthusiasts alike.</p>
    </div>
</main>