<main>
  <div class="title">
    Saturn
    <span class="bar">|</span>
    <span class="themed">ዙሐል</span>
  </div>

  <div class="banner">
    <div class="banner-img">
      <img src="./assets/images/saturn.png" alt="image of saturn">
    </div>
  </div>

  <div class="card intro">
    <p>Saturn is the sixth planet from the Sun and the second-largest in the Solar System, after Jupiter.</p>
    </div>

  <div class="card">
    <div class="card-header">
      <div class="header">Stats</div>
      <i class="icon fas fa-chart-bar"></i>
    </div>
    <div class="content">
      <p>
        <span class="themed">Diameter:</span>
        116,460 km
      </p>
      <p>
        <span class="themed">Mass:</span>
        5.683 × 10^26 kg
      </p>
      <p>
        <span class="themed">Orbital period:</span>
        29.5 years
      </p>
      <p>
        <span class="themed">Distance from sun:</span>
        1.4 billion km
      </p>
      </div>
  </div>
  <div class="card">
    <div class="card-header">
      <div class="header">Features</div>
      <i class="icon fas fa-mountain"></i>
    </div>
    <div class="content">
      <p>Saturn is a gas giant with a thick atmosphere primarily composed of hydrogen and helium.</p>
      <p>It is known for its prominent ring system, which consists of thousands of individual ringlets made up of ice and rock particles.</p>
      </div>
  </div>
  <div class="card">
    <div class="card-header">
      <div class="header">Moons</div>
      <i class="icon fas fa-moon"></i>
    </div>
    <div class="content">
      <p>Saturn has at least 82 known moons, the largest of which is Titan.</p>
      <div>
        <p>
          <span class="themed">Titan:</span>
          Titan is the second-largest moon in the Solar System and has a thick atmosphere composed mainly of nitrogen.
        </p>
        <p>
          <span class="themed">Enceladus:</span>
          Enceladus is known for its geologically active surface and potential subsurface ocean.
        </p>
        <p>
          <span class="themed">Mimas:</span>
          Mimas is notable for its large Herschel Crater, which gives it a resemblance to the Death Star from Star Wars.
        </p>
        <p>
          <span class="themed">Rhea:</span>
          Rhea is the second-largest moon of Saturn and has a relatively bright surface covered in ice.
        </p>
        </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <div class="header">Explorations</div>
      <i class="icon fas fa-satellite"></i>
    </div>
    <div class="content">
      <p>Saturn has been visited by several spacecraft, providing valuable data and images of the planet, its rings, and moons.</p>
      <div>
        <p>
          <span class="themed">Pioneer 11:</span>
          Pioneer 11 was the first spacecraft to fly by Saturn in 1979, providing the first close-up images of the planet and its rings.
        </p>
        <p>
          <span class="themed">Voyager 1 & 2:</span>
          The Voyager probes provided detailed images and data of Saturn and its moons during their flybys in the early 1980s.
        </p>
        <p>
          <span class="themed">Cassini-Huygens:</span>
          The Cassini-Huygens mission orbited Saturn for over 13 years, studying its atmosphere, rings, and moons in unprecedented detail.
        </p>
        </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <div class="header">Potential for Life</div>
      <i class="icon fas fa-leaf"></i>
    </div>
    <div class="content">
      <p>Saturn is a gas giant and lacks a solid surface, making it inhospitable to life as we know it.</p>
      <p>However, its moons, particularly Titan and Enceladus, are considered potential targets in the search for extraterrestrial life.</p>
      </div>
  </div>
  <div class="card">
    <div class="card-header">
      <div class="header">Fun Facts</div>
      <i class="icon fas fa-smile"></i>
    </div>
    <div class="content">
      <p>Saturn's rings are mostly composed of ice particles ranging in size from tiny grains to large boulders.</p>
      <p>Despite its large size, Saturn has the lowest density of all the planets in the Solar System, which means it could float in water if such a massive ocean existed.</p>
      </div>
  </div>
  <div class="card">
    <div class="card-header">
      <div class="header">Real Photos</div>
      <i class="icon fas fa-camera-retro"></i>
    </div>
    <div class="images">
      <div class="image">
        <a href="#img-0" class="modal-link">
          <img src="./assets/images/saturn.png">
        </a>

        <div onclick="location.hash='#/'" id="img-0" class="modal-container">
          <div class="modal-content">
            <a href="#/" class="close-button">&times;</a>
            <img src="./assets/images/saturn.png" class="modal-image">
            <div class="modal-caption">
              <div class="modal-description">An awe-inspiring view of Saturn and its rings captured by the Cassini spacecraft.</div>
              <div class="modal-credit">&copy;NASA/JPL-Caltech/Space Science Institute</div>
            </div>
          </div>
        </div>
      </div>
      <div class="image">
        <a href="#img-1" class="modal-link">
          <img src="./assets/images/saturn.png">
        </a>

        <div onclick="location.hash='#/'" id="img-1" class="modal-container">
          <div class="modal-content">
            <a href="#/" class="close-button">&times;</a>
            <img src="./assets/images/saturn.png" class="modal-image">
            <div class="modal-caption">
              <div class="modal-description">An awe-inspiring view of Saturn and its rings captured by the Cassini spacecraft.</div>
              <div class="modal-credit">&copy;NASA/JPL-Caltech/Space Science Institute</div>
            </div>
          </div>
        </div>
      </div>
      <div class="image">
        <a href="#img-2" class="modal-link">
          <img src="./assets/images/saturn.png">
        </a>

        <div onclick="location.hash='#/'" id="img-2" class="modal-container">
          <div class="modal-content">
            <a href="#/" class="close-button">&times;</a>
            <img src="./assets/images/saturn.png" class="modal-image">
            <div class="modal-caption">
              <div class="modal-description">An awe-inspiring view of Saturn and its rings captured by the Cassini spacecraft.</div>
              <div class="modal-credit">&copy;NASA/JPL-Caltech/Space Science Institute</div>
            </div>
          </div>
        </div>
      </div>
      <div class="image">
        <a href="#img-3" class="modal-link">
          <img src="./assets/images/saturn.png">
        </a>

        <div onclick="location.hash='#/'" id="img-3" class="modal-container">
          <div class="modal-content">
            <a href="#/" class="close-button">&times;</a>
            <img src="./assets/images/saturn.png" class="modal-image">
            <div class="modal-caption">
              <div class="modal-description">An awe-inspiring view of Saturn and its rings captured by the Cassini spacecraft.</div>
              <div class="modal-credit">&copy;NASA/JPL-Caltech/Space Science Institute</div>
            </div>
          </div>
        </div>
      </div>
      </div>
  </div>
  <div class="card wrapup">
    <p>Saturn's beauty and mysteries continue to captivate astronomers and space enthusiasts alike, making it one of the most iconic planets in the Solar System.</p>
    </div>
</main>