<main>
  <div class="title">
    Sun
    <span class="bar">|</span>
    <span class="themed">ፀሀይ</span>
  </div>

  <div class="banner">
    <div class="banner-img">
      <img src="./assets/images/sun.png" alt="image of sun">
    </div>
  </div>

  <div class="card intro">
    <p>The Sun is the star at the center of the Solar System.</p>
    </div>

  <div class="card">
    <div class="card-header">
      <div class="header">Stats</div>
      <i class="icon fas fa-chart-bar"></i>
    </div>
    <div class="content">
      <p>
        <span class="themed">Diameter:</span>
        1.39 million km
      </p>
      <p>
        <span class="themed">Mass:</span>
        1.989 × 10^30 kg
      </p>
      <p>
        <span class="themed">Age:</span>
        Approximately 4.6 billion years
      </p>
      <p>
        <span class="themed">Surface temperature:</span>
        Approximately 5,500°C (9,932°F)
      </p>
      </div>
  </div>
  <div class="card">
    <div class="card-header">
      <div class="header">Features</div>
      <i class="icon fas fa-mountain"></i>
    </div>
    <div class="content">
      <p>The Sun is composed mainly of hydrogen (about 74%) and helium (about 24%) with small amounts of heavier elements.</p>
      <p>It generates energy through nuclear fusion in its core, converting hydrogen into helium and releasing vast amounts of energy in the process.</p>
      </div>
  </div>
  <div class="card">
    <div class="card-header">
      <div class="header">Moons</div>
      <i class="icon fas fa-moon"></i>
    </div>
    <div class="content">
      <p>The Sun does not have any moons.</p>
      <div>
        </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <div class="header">Explorations</div>
      <i class="icon fas fa-satellite"></i>
    </div>
    <div class="content">
      <p>The Sun has been studied extensively using telescopes and spacecraft.</p>
      <div>
        <p>
          <span class="themed">Solar Observatories:</span>
          Ground-based observatories and space-based telescopes like the Solar and Heliospheric Observatory (SOHO) provide continuous observations of the Sun's activity.
        </p>
        <p>
          <span class="themed">Parker Solar Probe:</span>
          Launched in 2018, the Parker Solar Probe is a NASA spacecraft that is studying the Sun's outer atmosphere and solar wind.
        </p>
        </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <div class="header">Potential for Life</div>
      <i class="icon fas fa-leaf"></i>
    </div>
    <div class="content">
      <p>The Sun is essential for life on Earth, providing heat and light that sustain almost all living organisms.</p>
      <p>However, direct exposure to the Sun's intense radiation can be harmful to living organisms and requires protection.</p>
      </div>
  </div>
  <div class="card">
    <div class="card-header">
      <div class="header">Fun Facts</div>
      <i class="icon fas fa-smile"></i>
    </div>
    <div class="content">
      <p>The Sun is so massive that it contains more than 99.8% of the total mass of the Solar System.</p>
      <p>It takes about 8 minutes and 20 seconds for light from the Sun to reach Earth.</p>
      </div>
  </div>
  <div class="card">
    <div class="card-header">
      <div class="header">Real Photos</div>
      <i class="icon fas fa-camera-retro"></i>
    </div>
    <div class="images">
      <div class="image">
        <a href="#img-0" class="modal-link">
          <img src="./assets/images/sun.png">
        </a>

        <div onclick="location.hash='#/'" id="img-0" class="modal-container">
          <div class="modal-content">
            <a href="#/" class="close-button">&times;</a>
            <img src="./assets/images/sun.png" class="modal-image">
            <div class="modal-caption">
              <div class="modal-description">A stunning image of the Sun captured by NASA's Solar Dynamics Observatory.</div>
              <div class="modal-credit">&copy;NASA/SDO</div>
            </div>
          </div>
        </div>
      </div>
      <div class="image">
        <a href="#img-1" class="modal-link">
          <img src="./assets/images/sun.png">
        </a>

        <div onclick="location.hash='#/'" id="img-1" class="modal-container">
          <div class="modal-content">
            <a href="#/" class="close-button">&times;</a>
            <img src="./assets/images/sun.png" class="modal-image">
            <div class="modal-caption">
              <div class="modal-description">A stunning image of the Sun captured by NASA's Solar Dynamics Observatory.</div>
              <div class="modal-credit">&copy;NASA/SDO</div>
            </div>
          </div>
        </div>
      </div>
      <div class="image">
        <a href="#img-2" class="modal-link">
          <img src="./assets/images/sun.png">
        </a>

        <div onclick="location.hash='#/'" id="img-2" class="modal-container">
          <div class="modal-content">
            <a href="#/" class="close-button">&times;</a>
            <img src="./assets/images/sun.png" class="modal-image">
            <div class="modal-caption">
              <div class="modal-description">A stunning image of the Sun captured by NASA's Solar Dynamics Observatory.</div>
              <div class="modal-credit">&copy;NASA/SDO</div>
            </div>
          </div>
        </div>
      </div>
      <div class="image">
        <a href="#img-3" class="modal-link">
          <img src="./assets/images/sun.png">
        </a>

        <div onclick="location.hash='#/'" id="img-3" class="modal-container">
          <div class="modal-content">
            <a href="#/" class="close-button">&times;</a>
            <img src="./assets/images/sun.png" class="modal-image">
            <div class="modal-caption">
              <div class="modal-description">A stunning image of the Sun captured by NASA's Solar Dynamics Observatory.</div>
              <div class="modal-credit">&copy;NASA/SDO</div>
            </div>
          </div>
        </div>
      </div>
      </div>
  </div>
  <div class="card wrapup">
    <p>The Sun is a powerful and dynamic star that plays a central role in the Solar System and has fascinated humans for millennia.</p>
    </div>
</main>