<main>
  <div class="title">
    Uranus
    <span class="bar">|</span>
    <span class="themed">ዩራኑስ</span>
  </div>

  <div class="banner">
    <div class="banner-img">
      <img src="./assets/images/uranus.png" alt="image of uranus">
    </div>
  </div>

  <div class="card intro">
    <p>Uranus is the seventh planet from the Sun and the third-largest in the Solar System.</p>
    </div>

  <div class="card">
    <div class="card-header">
      <div class="header">Stats</div>
      <i class="icon fas fa-chart-bar"></i>
    </div>
    <div class="content">
      <p>
        <span class="themed">Diameter:</span>
        50,724 km
      </p>
      <p>
        <span class="themed">Mass:</span>
        8.681 × 10^25 kg
      </p>
      <p>
        <span class="themed">Orbital period:</span>
        84 years
      </p>
      <p>
        <span class="themed">Distance from sun:</span>
        2.87 billion km
      </p>
      </div>
  </div>
  <div class="card">
    <div class="card-header">
      <div class="header">Features</div>
      <i class="icon fas fa-mountain"></i>
    </div>
    <div class="content">
      <p>Uranus is an ice giant with a thick atmosphere composed mainly of hydrogen, helium, and methane.</p>
      <p>It is unique among the planets in the Solar System because it rotates on its side, with its axis of rotation nearly parallel to its orbital plane.</p>
      </div>
  </div>
  <div class="card">
    <div class="card-header">
      <div class="header">Moons</div>
      <i class="icon fas fa-moon"></i>
    </div>
    <div class="content">
      <p>Uranus has at least 27 known moons, the largest of which are Titania, Oberon, Umbriel, Ariel, and Miranda.</p>
      <div>
        <p>
          <span class="themed">Titania:</span>
          Titania is the largest moon of Uranus and the eighth-largest moon in the Solar System.
        </p>
        <p>
          <span class="themed">Oberon:</span>
          Oberon is the second-largest moon of Uranus and has a heavily cratered surface.
        </p>
        <p>
          <span class="themed">Umbriel:</span>
          Umbriel is the third-largest moon of Uranus and has a dark, heavily cratered surface.
        </p>
        <p>
          <span class="themed">Ariel:</span>
          Ariel is the fourth-largest moon of Uranus and has a relatively smooth surface with few impact craters.
        </p>
        <p>
          <span class="themed">Miranda:</span>
          Miranda is the smallest and innermost of the five major moons of Uranus, known for its complex and varied terrain.
        </p>
        </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <div class="header">Explorations</div>
      <i class="icon fas fa-satellite"></i>
    </div>
    <div class="content">
      <p>Uranus has been visited by only one spacecraft to date.</p>
      <div>
        <p>
          <span class="themed">Voyager 2:</span>
          Voyager 2 flew by Uranus in 1986, providing the first close-up images and data of the planet and its moons.
        </p>
        </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <div class="header">Potential for Life</div>
      <i class="icon fas fa-leaf"></i>
    </div>
    <div class="content">
      <p>Uranus is a gas giant and lacks a solid surface, making it inhospitable to life as we know it.</p>
      <p>Its extreme cold temperatures and high atmospheric pressure would pose significant challenges for any potential life forms.</p>
      </div>
  </div>
  <div class="card">
    <div class="card-header">
      <div class="header">Fun Facts</div>
      <i class="icon fas fa-smile"></i>
    </div>
    <div class="content">
      <p>Uranus is often referred to as an 'ice giant' because its interior contains more icy materials such as water, ammonia, and methane compared to Jupiter and Saturn.</p>
      <p>Its unique sideways rotation may have been caused by a collision with a massive object early in its history.</p>
      </div>
  </div>
  <div class="card">
    <div class="card-header">
      <div class="header">Real Photos</div>
      <i class="icon fas fa-camera-retro"></i>
    </div>
    <div class="images">
      <div class="image">
        <a href="#img-0" class="modal-link">
          <img src="./assets/images/uranus.png">
        </a>

        <div onclick="location.hash='#/'" id="img-0" class="modal-container">
          <div class="modal-content">
            <a href="#/" class="close-button">&times;</a>
            <img src="./assets/images/uranus.png" class="modal-image">
            <div class="modal-caption">
              <div class="modal-description">A mesmerizing view of Uranus captured by the Voyager 2 spacecraft during its flyby in 1986.</div>
              <div class="modal-credit">&copy;NASA/ESA</div>
            </div>
          </div>
        </div>
      </div>
      <div class="image">
        <a href="#img-1" class="modal-link">
          <img src="./assets/images/uranus.png">
        </a>

        <div onclick="location.hash='#/'" id="img-1" class="modal-container">
          <div class="modal-content">
            <a href="#/" class="close-button">&times;</a>
            <img src="./assets/images/uranus.png" class="modal-image">
            <div class="modal-caption">
              <div class="modal-description">A mesmerizing view of Uranus captured by the Voyager 2 spacecraft during its flyby in 1986.</div>
              <div class="modal-credit">&copy;NASA/ESA</div>
            </div>
          </div>
        </div>
      </div>
      <div class="image">
        <a href="#img-2" class="modal-link">
          <img src="./assets/images/uranus.png">
        </a>

        <div onclick="location.hash='#/'" id="img-2" class="modal-container">
          <div class="modal-content">
            <a href="#/" class="close-button">&times;</a>
            <img src="./assets/images/uranus.png" class="modal-image">
            <div class="modal-caption">
              <div class="modal-description">A mesmerizing view of Uranus captured by the Voyager 2 spacecraft during its flyby in 1986.</div>
              <div class="modal-credit">&copy;NASA/ESA</div>
            </div>
          </div>
        </div>
      </div>
      <div class="image">
        <a href="#img-3" class="modal-link">
          <img src="./assets/images/uranus.png">
        </a>

        <div onclick="location.hash='#/'" id="img-3" class="modal-container">
          <div class="modal-content">
            <a href="#/" class="close-button">&times;</a>
            <img src="./assets/images/uranus.png" class="modal-image">
            <div class="modal-caption">
              <div class="modal-description">A mesmerizing view of Uranus captured by the Voyager 2 spacecraft during its flyby in 1986.</div>
              <div class="modal-credit">&copy;NASA/ESA</div>
            </div>
          </div>
        </div>
      </div>
      </div>
  </div>
  <div class="card wrapup">
    <p>Uranus remains a mysterious and intriguing planet that continues to fascinate astronomers and space enthusiasts alike.</p>
    </div>
</main>